*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;   // 1rem = 10px
    
    @include respond(tab-land){
        font-size: 56.25%;         // 1rem = 9px
    }
    
    @include respond(tab-port){
        font-size: 50%;         // 1rem = 8px
    }

    @include respond(phone){
        font-size: 40%;         // 1rem = 8px
    }

    @include respond(big-desk){
        font-size: 75%;         // 1rem = 12px
    }

}

body{
    font-size: 1.6rem;
    font-family: "Raleway", "Lato", "Mclaren", sans-serif;

}

.container{
    width: 90%;
    margin: auto;
    max-width: 1140px;
    // border-bottom: 2px solid red;
}

a,button{
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
    // display: inline-block;
    // display: flex;
}