
.heading{

    &__primary{
        font-size: 3.2rem;
        line-height: 1.4;
        color: $color-white;
        opacity: .95;
        font-weight: 200;
        text-transform: uppercase;
        font-family: 'McLaren';
        // margin-bottom: .8rem;

        &--dark{
            color: $color-black;
        }
    }

    &__secondary{
        color: $color-light;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: .15rem;
        opacity: .8;

        &--dark{
            color: $color-dark;
            font-weight: 500;
        }
    }

}