.btn{
    border: none;
    background: $color-white;
    padding: 1rem 1.75rem;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: .06rem;
    border-radius: .2rem;
    cursor: pointer;
    transition: all .1s ease;

    &:hover{
        transform: scale(0.975);
    }
    &+&{
        margin-left: 1.5rem;
    }
}