.btn{
    border: none;
    background: $color-white;
    // padding: 1.25rem 1.75rem;
    padding: .75em 1.15em;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: #{"clamp(1.3rem,1vw,1.4rem)"} ;
    letter-spacing: .06rem;
    border-radius: .2rem;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover{
        transform: scale(0.975);
    }
    &:focus{
        outline: none;
        box-shadow: 0 0 10px rgba($color: #2d7ae5, $alpha: 0.8), 
        0 10px 20px rgba($color: #2d7ae5, $alpha: 0.8),
         0 20px 30px rgba($color: #2d7ae5, $alpha: 0.8);
        background: white;
        transform: scale(0.975);
    }
    
    &--dark{
        background: $color-black;
        color: $color-white;

        &:focus{
            background: black;
        }
    }

    // IMPORTANT LINK: https://alistapart.com/article/quantity-queries-for-css/
    &:nth-last-child(n+2):first-child,  // Styling for first element if {2} or more elements are present
    // &:nth-last-child(n+2):first-child~& // Styling for next siblings of first element if {2} or more elements are present
    &:nth-last-child(n+2):first-child~&:not(:last-child) // Alternate for previous CSS Rule.. This one is used if we don't want the styles to be applied on last element
    {
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
    }
}