.btn{
    border: none;
    background: $color-white;
    padding: 1.25rem 1.75rem;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: .06rem;
    border-radius: .2rem;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover{
        transform: scale(0.975);
    }
    &:focus{
        outline: none;
        background: white;
        transform: scale(0.975);
    }
    
    &--dark{
        background: $color-black;
        color: $color-white;

        &:focus{
            background: black;
        }
    }

    
    &+&{
        margin-left: 1.5rem;
    }
}