.projects{

    // overflow: hidden;
    .heading-secondary{
        // margin-top: 2rem;
        margin-bottom: 1.5rem;

        &:not(:first-child){
            margin-top: 3rem;
        }
        
    }
    &__showcase{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        // width: 100%;
        // margin: 
    }
    &__figure{
            // margin-top: 1rem;

            // $margin-size: #{"min(3vw,2.5rem)"};
            // margin-left: $margin-size;
            // margin-top: $margin-size;
            // border: 1px solid blue;

            // overflow: hidden;
            text-align: center;
            margin-bottom: 2rem;
            }

            &__image{
                
                $size-image: 15vw;
                // @include respond(tab-land) {
                //     $size-image: 20vw;
                // }
                // width: $size-image;
                // height: $size-image;
                width: #{"clamp(12rem,20vw,27.5rem)"};
                height: #{"clamp(12rem,20vw,27.5rem)"};
                object-fit: cover;
                margin-bottom: 5%;
                @include respond(375px){
                    width: #{"clamp(12rem,43vw,25rem)"};
                    height: #{"clamp(12rem,43vw,25rem)"};
                }
                @include respond(180px){
                    width: #{"max(8rem,90vw,20rem)"};
                    height: #{"max(8rem,90vw,20rem)"};
                }
            }
            &__label{
                font-size: #{"clamp(1.2rem,2vw,1.75rem)"};
                // word-break: break-all;
                // display: none;
            }
}