.skills{
    
    .heading{
        margin-bottom: 8rem;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100rem;
        margin: auto;
        // background: red;
        align-items: flex-end;
        justify-content: space-evenly;
    }
    &__item{
        // margin: 1.4rem;
        margin: 1.5vw;
        @include respond (25em) {
            margin: 4vw 3.5vw;
        }
        // &+&{
            // margin-left: 3rem;
        // }
    }
    &__figure{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &__icon{
        margin-bottom: 2rem;
        // height: 10rem;
        // width: 10rem;
        height: 7.5vw;
        width: 7.5vw;
        // border: 1px solid crimson;
        object-fit: cover;
        overflow: hidden;

        @include respond(phone) {
            height: 10vw;
            width: 10vw;
        }

        @include respond(25em) {
            height: 15vw;
            width: 15vw;
        }
        
    }
    &__label{
        font-family: raleway;
        font-size: 2rem;
        font-weight: 500;
        color: $color-white;
        letter-spacing: .1em;
    }
}